.meal {
    max-width: 400px;
    border-radius: 10px;
    margin: 30px 20px;
    padding: 8px;
    box-shadow: 3px 3px 10px gray;
}

.meal img {
    width: 400px;
    border-radius: 10px;
}

.cart-btn {
    border: 0;
    outline: 0;
    background-color: #BF3325;
    color: #fff;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}