.header {
    height: 100px;
    background-color: #242B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlinks a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 30px;
}

.navlinks a:hover {
    color: orange;
}